div.pagecontent.sectionid1 {
    background-color: #ffd700;
}

div.pagecontent.sectionid2 {
    background-color: #00ecf0;
}

.langChooser {
    display: block;
    visibility: hidden;
    background-color: #ccffcc;
    padding: 10px 0px;
}

.languageflagtitle {
    color: black;
    padding: 0;
    margin-top: -15px;
    font-size: xx-large;
    display: inline-block;
    animation: languageTitleAnim 1s cubic-bezier(0, 0, 0, 1);
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes languageTitleAnim {
    0% {
        transform: translateX(-150px);
        opacity: 0;
    }
    100% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

.languageflagbutton {
    padding: 0;
    margin: auto;
    font-size: xx-large;
    display: inline-block;
    transition: transform .4s;
    position: relative;
    overflow-x: hidden;

    filter: drop-shadow(-3px -3px 6px white) drop-shadow(3px 3px 6px black);
}

.languageflagbutton:hover {
    transform: scale(1.5);
    z-index: 500;
}

.languageflagbutton_loading {
    animation: languageSlidein 1s cubic-bezier(0, 0, 0, 1);
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes languageSlidein {
    0% {
        transform: translateX(10vw);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.keyword-item {
    display: none;
}

.typing {
    color: white;
    animation-duration: 1s;
    animation-name: textCursor;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes textCursor {
    13% {
        opacity: 1;
    }
    37% {
        opacity: 1;
    }
    63% {
        opacity: 0;
    }
    87% {
        opacity: 0;
    }
}

div.teamtitle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 7vh;
    color: black;
    font-weight: 900;
}

div.teamtext {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vh;
    color: black;
    font-weight: 100;
}

.snsButton {
    color: white;
    width: calc(50% - 13px);
    height: fit-content;
    box-shadow: 5px 5px 10px #7a7a7a, -5px -5px 10px #c2c2c2;
    border-radius: 7px;
    border: 1px solid #9c9c9c;
    font-size: 30px;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin: 5px 5px;

    text-align: center;

    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

.snsButton:hover {
    z-index: 20;
    transform: scale(1.1);
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(0.13, 0.99, 0.33, 1.85);
}

@media(max-width:1300px) {
    .languageflagtitle {
        font-size: 70;
    }
    .languageflagbutton {
        font-size: 70;
    }
}

@media(prefers-color-scheme: dark) {
    div.pagecontent.sectionid1 {
        background-color: #a38b00;
    }
    div.pagecontent.sectionid2 {
        background-color: #00878a;
    }
    .langChooser {
        background-color: #bebebe;
    }
    .languageflagtitle {
        color: black;
    }
    div.teamtitle {
        color: gold;
    }
    div.teamtext {
        color: goldenrod;
    }

    .snsButton {
        box-shadow: 5px 5px 10px #222, -5px -5px 10px #666666;
        border: 1px solid #404040;
    }
}