:root {
    --pagewidth: 1100px;
}

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    color: black;
    background-color: #e8e8e8;
    font-size: 20;
    margin: 0;
}

.post {
    width: 100%;
    background-color: #d1d1d1;
    overflow: auto;
}

div {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20;
}

div.centertext {
    display: block;
    margin: 0 auto;
}

div.pagecontent {
    margin: 50px auto;
    padding: 20px 50px 20px 50px;
    border-radius: 35px;

    width: var(--pagewidth);
    box-sizing: border-box;
    display: block;

    background-color: white;
    color: black;

    box-shadow: 0 15px 30px #000000;
}

footer {
    width: 100vw;
    border: solid #aaaaaa;
    border-width: 1px 0 0 0;
    background-color: #dfdfdf;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

footer>p {
    text-indent: 0px;
}

.dotted::before {
    content: "|";
    color: black;
}

a {
    color: black;
}

a.text {
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    color: #00bfff;
}

a.text:link {
    color: #00bfff;
}

a.text:visited {
    color: #00bfff;
}

a.text:hover {
    color: #c100cf;
}

a.foot {
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

a.foot:link {
    color: black;
}

a.foot:visited {
    color: black;
}

a.foot:hover {
    color: #8a7917;
}

a.foot:active {
    cursor: crosshair;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50 !important;
    font-weight: 500 !important;
    margin: 0 !important;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40 !important;
    font-weight: 500 !important;
    margin: 0 !important;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35 !important;
    font-weight: 500 !important;
    margin: 0 !important;
}

p {
    text-indent: 15px;
}

#slideshow::after {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.4);
    transition: background 0.5s ease;
}

img {
    user-select: none;
}

.menubarContainer {
    width: 100%;
    background-color: #fff45c;
}

ul#menubar {
    list-style-type: none;
    overflow: hidden;
    background-color: #fff45c;
    width: var(--pagewidth);
    padding: 0px;
    display: block;
    margin: 0 auto;
}

ul#menubar>li {
    box-sizing: inherit;
    float: left;
    width: auto;
    color: black;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    transition: background-color 0.3s;
    position: relative;
}

ul#menubar>li.right {
    float: right;
}

ul#menubar>li:hover {
    background-color: #ffd700;
}

ul#menubar>li.current {
    background-color: #ffce5c;
}

.member {
    display: block;
    text-decoration: none;
    line-height: 1;
    width: 100%;
    padding: 15px;
}

.mcglogo>a>img {
    /* width: 1em; */
    height: 0.8em;
    padding: 0;
    margin: 0 25 0 10;
    transform: scale(2.4);
    position: relative;
}

div.fullscreen {
    width: 100%;
}

.fadeAnimation {
    animation-duration: 1s;
    animation-name: slidefromleft;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

@keyframes slidefromleft {
    from {
        transform: translateX(-5vw);
        opacity: 0.0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.backFadingIn {
    animation-duration: 0.8s;
    animation-name: animatedBackFadingIn;
    animation-timing-function: ease-in-out;
}

@keyframes animatedBackFadingIn {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0);
    }
}

.backFadingOut {
    opacity: 0;
    animation-duration: 0.8s;
    animation-name: animatedBackFadingOut;
    animation-timing-function: ease-in-out;
    z-index: -1;
}

@keyframes animatedBackFadingOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(50vw);
    }
}

#header {
    height: 50vh;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

@media(max-width:1300px) {
    :root {
        --pagewidth: 100%;
    }
    body {
        font-size: 40;
    }
    div.pagecontent {
        margin: 0;
        padding: 20px 50px 20px 50px;
        border-radius: 0;
    
        width: 100%;
        box-sizing: border-box;
        display: block;
    
        background-color: white;
        color: black;
    
        box-shadow: none;
    }
    h1 {
        font-size: 80 !important;
    }
    h2 {
        font-size: 65 !important;
    }
    h3 {
        font-size: 55 !important;
    }
    p {
        text-indent: 35px;
    }
    ul#menubar {
        width: 100%;
        padding: none;
    }
    ul#menubar>li {
        font-size: 50;
        padding: 14 16;
        position: relative;
        display: block;
        width: 100%;
        box-sizing: border-box;
        float: left;
    }
    .mcglogo>a>img {
        width: 1em;
        height: 1em;
        transform: scale(1.2);
        margin: 0 10;
        overflow-y: hidden;
        position: absolute;
    }
    span.mcglogotext {
        position: relative;
        left: 1.5em;
        margin: 0px 0px 0px 15px;
    }
    #header {
        height: 65vh;
    }
}

@media(prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: black;
    }
    footer {
        background-color: black;
    }
    a {
        color: white;
    }
    a.foot:link {
        color: white;
    }
    a.foot:visited {
        color: white;
    }
    a.foot:hover {
        color: wheat;
    }
    .dotted::before {
        color: gray;
    }
    .post {
        background-color: #454545;
    }
    div.pagecontent {
        background-color: black;
        color: white;
        box-shadow: 0 10px 20px #000000;
    }
    a.text {
        color: #ffae00;
    }
    a.text:link {
        color: #ffae00;
    }
    a.text:visited {
        color: #ffae00;
    }
    a.text:hover {
        color: #00cf1c;
    }
    .menubarContainer {
        background-color: #404040;
    }
    ul#menubar {
        background-color: transparent;
    }
    ul#menubar>li {
        color: white;
    }
    ul#menubar>li:hover {
        background-color: #ffd700;
    }
    ul#menubar>li.current {
        background-color: #ffce5c;
    }
    #slideshow::after {
        background: rgba(0, 0, 0, 0.4);
    }
}