:root {
    --pagewidth: 1100px;
}

body {
    overflow-x: hidden;
    color: black;
    background-color: #dfdfdf;
    font-size: 20;
    margin: 0;
}

.post {
    width: 100%;
    background-color: #efefef;
    overflow: auto;
}

div {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20;
}

div.centertext {
    display: block;
    margin: 0 auto;
}

div.pagecontent {
    margin: 50px auto;
    padding: 20px 50px 20px 50px;
    border-radius: 35px;

    width: var(--pagewidth);
    display: block;

    background-color: white;
    color: black;

    box-shadow: 0 15px 30px #000000;
}

footer {
    width: calc(100% - 40px);
    border: solid #aaaaaa;
    border-width: 1px 0 0 0;
    background-color: #dfdfdf;
    text-align: center;
    padding: 20px;
}

footer>p {
    text-indent: 0px;
}

.dotted::before {
    content: "|";
    color: black;
}

a {
    color: black;
}

a.text {
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    color: #00bfff;
}

a.text:link {
    color: #00bfff;
}

a.text:visited {
    color: #00bfff;
}

a.text:hover {
    color: #c100cf;
}

a.foot {
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

a.foot:link {
    color: black;
}

a.foot:visited {
    color: black;
}

a.foot:hover {
    color: #8a7917;
}

a.foot:active {
    cursor: crosshair;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50 !important;
    font-weight: 500 !important;
    margin: 0 !important;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40 !important;
    font-weight: 500 !important;
    margin: 0 !important;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35 !important;
    font-weight: 500 !important;
    margin: 0 !important;
}

p {
    text-indent: 15px;
}

#slideshow::after {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.4);
}

img.imgSlide {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: block;
}

img {
    user-select: none;
}

.menubarContainer {
    width: 100%;
    background-color: #fff45c;
}

ul#menubar {
    list-style-type: none;
    overflow: hidden;
    background-color: #fff45c;
    width: calc(var(--pagewidth) + 100px);
    padding: 0px;
    display: block;
    margin: 0 auto;
}

ul#menubar>li {
    padding: 14 16;
    box-sizing: inherit;
    float: left;
    width: auto;
    color: black;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    transition: background-color 0.3s
}

ul#menubar>li.right {
    float: right;
}

ul#menubar>li:hover {
    background-color: #ffd700;
}

ul#menubar>li.current {
    background-color: #ffce5c;
}

.member {
    text-decoration: none;
    line-height: 1;
}

.mcglogo {
    width: 10em !important;
}

span.mcglogotext {
    position: relative;
    left: 3.5em;
}

.mcglogo>a>img {
    width: 2rem;
    padding: 0;
    margin: 0 10;
    position: absolute;
    top: 0.7rem;
    transform: scale(1.5);
}

div.fullscreen {
    width: 100%;
}

.fadeAnimation {
    animation-duration: 1s;
    animation-name: slidefromleft;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

@keyframes slidefromleft {
    from {
        transform: translateX(-5vw);
        opacity: 0.0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.backFadingIn {
    opacity: 1;
    animation-duration: 3s;
    animation-name: animatedBackFadingIn;
    animation-timing-function: ease-in-out;
}

@keyframes animatedBackFadingIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.backFadingOut {
    opacity: 0;
    animation-duration: 3s;
    animation-name: animatedBackFadingOut;
    animation-timing-function: ease-in-out;
}

@keyframes animatedBackFadingOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#header {
    height: 50vh;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

@media(max-width:1300px) {
    :root {
        --pagewidth: 100%;
    }
    body {
        font-size: 40;
    }
    div.pagecontent {
        width: calc(var(--pagewidth) - 100px);
    }
    h1 {
        font-size: 80 !important;
    }
    h2 {
        font-size: 65 !important;
    }
    h3 {
        font-size: 55 !important;
    }
    p {
        text-indent: 35px;
    }
    ul#menubar {
        width: 90%;
        padding: 0 5%;
    }
    ul#menubar>li {
        font-size: 50;
        padding: 14 16;
        position: relative;
        display: block;
        width: 100%;
        box-sizing: border-box;
        float: left;
    }
    .mcglogo {
        width: 90% !important;
    }
    span.mcglogotext {
        position: unset;
        left: unset;
        margin: 0px 0px 0px 15px;
    }
    .mcglogo>a>img {
        width: 1em;
        padding: unset;
        margin: unset;
        position: unset;
        top: unset;
        transform: unset;
    }
    #header {
        height: 65vh;
    }
}

@media(prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: black;
    }
    footer {
        background-color: black;
    }
    a {
        color: white;
    }
    a.foot:link {
        color: white;
    }
    a.foot:visited {
        color: white;
    }
    a.foot:hover {
        color: wheat;
    }
    .dotted::before {
        color: gray;
    }
    .post {
        background-color: #282828;
    }
    div.pagecontent {
        background-color: black;
        color: white;
    }
    a.text {
        color: #ffae00;
    }
    a.text:link {
        color: #ffae00;
    }
    a.text:visited {
        color: #ffae00;
    }
    a.text:hover {
        color: #00cf1c;
    }
    .menubarContainer {
        background-color: #505050;
    }
    ul#menubar {
        background-color: #505050;
    }
    ul#menubar>li {
        color: white;
    }
    ul#menubar>li:hover {
        background-color: #ffd700;
    }
    ul#menubar>li.current {
        background-color: #ffce5c;
    }
    #slideshow::after {
        background: rgba(0, 0, 0, 0.7);
    }
}