body {
    overflow-x: hidden;
    color: white;
    font-size: 20;
}

div {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20;
}

div.teamtitle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 7vh;
    color: gold;
    font-weight: 900;
}

div.teamtext {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vh;
    color: goldenrod;
    font-weight: 100;
}

div.centertext {
    display: block;
    margin: 0 auto;
}

div.pagecontent {
    padding: 20px 50px 20px 50px;
    display: block;
    margin: 0 auto;
    background-color: #111111;
    color: white;
    width: 1000px;
}

footer {
    width: (100% - 40px);
    border: solid gray;
    border-width: 1px 0 0 0;
    background-color: #050505;
    text-align: center;
    padding: 20px;
}

.dotted::before {
    content: "|";
    color: #aaaaaa;
}

a {
    color: white;
}

a.text {
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    color: greenyellow;
}

a.text:link {
    color: greenyellow;
}

a.text:visited {
    color: greenyellow;
}

a.text:hover {
    color: gold;
}

a.sns {
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    color: white;
}

a.sns:link {
    color: white;
}

a.sns:visited {
    color: white;
}

a.sns:hover {
    color: gold;
}

a.foot {
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

a.foot:link {
    color: white;
}

a.foot:visited {
    color: white
}

a.foot:hover {
    color: greenyellow
}

a.foot:active {
    cursor: crosshair;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50 !important;
    font-weight: 500 !important;
    margin: 0 !important;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40 !important;
    font-weight: 500 !important;
    margin: 0 !important;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35 !important;
    font-weight: 500 !important;
    margin: 0 !important;
}

p {
    text-indent: 15px;
}

#slideshow::after {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}

img.imgSlide {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: block;
    filter: blur(10px);
}

img {
    user-select: none;
}

ul#menubar {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    width: calc(1100px + 40px);
    display: block;
    margin: 0 auto;
}

ul#menubar>li {
    padding: 14 16;
    box-sizing: inherit;
    float: left;
    width: auto;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul#menubar>li.right {
    float: right;
}

ul#menubar>li:hover {
    background-color: #000000;
}

ul#menubar>li.current {
    background-color: olive;
}

.member {
    text-decoration: none;
    line-height: 1;
}

.mcglogo {
    width: 10em !important;
}

span.mcglogotext {
    position: relative;
    left: 3.5em;
}

.mcglogo>a>img {
    width: 2rem;
    padding: 0;
    margin: 0 10;
    position: absolute;
    top: 0.7rem;
    transform: scale(1.5);
}

div.fullscreen {
    width: 100%;
}

.keyword-item {
    display: none;
}

.typing {
    color: white;
    animation-duration: 1s;
    animation-name: textCursor;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes textCursor {
    13% {
        opacity: 1;
    }
    37% {
        opacity: 1;
    }
    63% {
        opacity: 0;
    }
    87% {
        opacity: 0;
    }
}

.fadeAnimation {
    animation-duration: 1s;
    animation-name: slidefromleft;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

@keyframes slidefromleft {
    from {
        transform: translateX(-5vw);
        opacity: 0.0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.backFadingIn {
    opacity: 1;
    animation-duration: 3s;
    animation-name: animatedBackFadingIn;
    animation-timing-function: ease-in-out;
}

@keyframes animatedBackFadingIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.backFadingOut {
    opacity: 0;
    animation-duration: 3s;
    animation-name: animatedBackFadingOut;
    animation-timing-function: ease-in-out;
}

@keyframes animatedBackFadingOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#header {
    height: 50vh;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

.languageflagtitle {
    color: black;
    padding: 0;
    margin-top: -15px;
    font-size: xx-large;
    display: inline-block;

    animation: languageTitleAnim 1s cubic-bezier(0, 0, 0, 1);
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes languageTitleAnim {
    0% {
        transform: translateX(-150px);
        opacity: 0;
    }
    100% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

.languageflagbutton {
    padding: 0;
    margin: auto;
    font-size: xx-large;
    display: inline-block;
    transition: transform .4s;
    position: relative;
}

.languageflagbutton:hover {
    transform: scale(1.5);
}

.languageflagbutton_loading {
    animation: languageSlidein 1s cubic-bezier(0, 0, 0, 1);
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes languageSlidein {
    0% {
        transform: translateX(10vw);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media(max-width:1300px) {
    body {
        font-size: 40;
    }
    div.pagecontent {
        width: calc(100% - 100px);
    }
    h1 {
        font-size: 80 !important;
    }
    h2 {
        font-size: 65 !important;
    }
    h3 {
        font-size: 55 !important;
    }
    p {
        text-indent: 35px;
    }
    ul#menubar {
        width: 90%;
    }
    ul#menubar>li {
        font-size: 50;
        padding: 14 16;
        width: 90%;
        float: left;
    }
    .mcglogo {
        width: 90% !important;
    }
    span.mcglogotext {
        position: unset;
        left: unset;
        margin: 0px 0px 0px 15px;
    }
    .mcglogo>a>img {
        width: 1em;
        padding: unset;
        margin: unset;
        position: unset;
        top: unset;
        transform: unset;
    }
    #header {
        height: 65vh;
    }
    .languageflagtitle {
        font-size: 70;
    }
    .languageflagbutton {
        font-size: 70;
    }
}